body{
  margin: 0 auto;
  font-family: 'Schoolbell', cursive;
  background: url(https://images3.alphacoders.com/812/812062.png) no-repeat fixed;
  background-size: cover;
}

.content{
  display: flex;
  flex-basis: 120px;
  padding: 15px;
  text-align: center;

}

/* .menuSelect{
  background-color: #d95204;
  border: none;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  margin: 5px;
} */

.subMenu{
  background-color: #AFD5EC;
  opacity: 0,3;
  border: none;
  height: 40px;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
}

.subMenu:hover{
  background-color: #95D9DA ;
}

main{
  flex-grow: 1;
}

h1{
  text-align: center;
  color: #FDFDFD;
}

#cards{
  display: flex;
  flex-wrap: wrap;
}
.card{
  border: 2px solid #D9CCC5;
  border-radius: 10px;
  flex-basis: 200px;
  margin: 30px;
  text-align: center;
  overflow: hidden;
  flex-grow: 1;
  max-width: 250px;
  box-shadow: 0 0 10px #333;
  background-color: rgba(253, 253, 253, 0.6)

}

.card img{
  width: 100%;
}

