body {
  margin: 0 auto;
  font-family: "Schoolbell", cursive;
  background: url(https://images3.alphacoders.com/812/812062.png) no-repeat
    fixed;
  background-size: cover;
  display: flex;
}

header {
  background: #333;
  overflow: hidden;
  padding: 0px;
  z-index: 10;
  position: fixed;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

main {
  padding-top: 65px;
  flex-grow: 1;
}

.menuContainer {
  flex-grow: 0;
}

.menu {
  opacity: 0, 3;
  border: none;
  height: 20px;
  cursor: pointer;
  margin: 5px;
  background-color: #333;
  color: #fdfdfd;
  display: inline-block;
}

.menu:hover {
  color: #95d9da;
}

.title {
  color: #fdfdfd;
  margin: 5px;
  display: inline-block;
  flex-grow: 1;
  text-align: center;
}

#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border-radius: 10px;
  flex-basis: 200px;
  margin: 30px;
  text-align: center;
  overflow: hidden;
  flex-grow: 1;
  max-width: 250px;
  box-shadow: 0 0 10px #333;
  background-color: rgba(253, 253, 253, 0.7);
}

.card img {
  width: 100%;
}

#graphic {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  padding: 15px;
  width: 100%;
  max-width: 600px;
}

#percentage {
  text-align: center;
  font-size: 30px;
  background-color: rgba(253, 253, 253, 0.5);
}
